<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>PaoDuro</title>
          <%= stylesheet_link_tag    "login" %>
          <%= javascript_include_tag "login" %>
          <%= csrf_meta_tags %>
        <style>
            img{
                position: relative;
                left: 100px;
                top:20px;
}
            p{
                text-align: left;
                margin: 0px 0px 0px 15px ;
                font-weight: bold;
}
            input{
                height: 35px;
                width: 300px;
                border-radius:5px;
                margin-left: 25px;
}
            label{
                margin-left: 25px;
}
            body{
                padding: 0px;
                margin: 0px;
                font-family: 'Lucida Sans Unicode';
}
            #cabecalho{
                height:13%;
                width: auto;
                box-shadow: 0px 1px 1px #888888;
                border-bottom: 2px solid #000000;
                background-color: #CAD8C7;
}
            #button{
               height: 38px;
               width: 70px;
               background-color: #003333;
               font-size: 15px;
               font-weight: bold;
               color: white;
               font-family: 'Lucida Sans Unicode';
}
            #form{
               height:310px;
               width: 385px;
               border: 2px solid;
               padding: 0px ;
               background-color: #CAD8C7;
               border-color: #000000;
               border-radius:5px;
               position: relative;
               top:122px;
               left: 36%;
	       box-shadow: 4px 5px 1px #888888;
}
            #login{
                margin: 0px 0px 0px 0px;
                padding: 8px;
                color:white;
                background-color: #003333;

}
            #links{
                float: right;
                left: -151px;
                position: relative;
            }
#menu{
    float: right;
    margin: 30px;
}
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
